/wuliu_testcase01_editpermission.pyc
/wuliu_testcase01_querypermission.pyc
/wuliu_testcase02_factory_delivery.pyc
/wuliu_testcase02_factory_inoutstockquery.pyc
/wuliu_testcase02_factory_sign.pyc
/wuliu_testcase03_site_delivery.pyc
/wuliu_testcase03_site_inoutstockquery.pyc
/wuliu_testcase03_site_sign.pyc
/wuliu_testcase04_pushorder.pyc
/wuliu_testcase05_takecloth.pyc
/wuliu_testcase06_pushcloth.pyc
/wuliu_testcase07_accountbalancequery.pyc
/wuliu_testcase08_citylist_addredit.pyc
/wuliu_testcase08_citylist_diaodupaidan_fanxidan.pyc
/wuliu_testcase08_citylist_diaoduquery_fanxidan.pyc
/wuliu_testcase09_factory_orderquery.pyc
/wuliu_testcase10_site_orderquery.pyc
